:root {
    --color-primario: #54c2e1;
    --color-secundario: #f0e51d;
    --color-terciario: #e61543;
    --color-cuarto: #0c0d0e;

}

@font-face {
    font-family: "Request Personal";
    src: url("../fonts/RequestPersonalUse.woff"),
        url("../fonts/RequestPersonalUse.ttf"),
        url("../fonts/RequestPersonalUse.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Azonix";
    src: url("../fonts/Azonix.woff"),
        url("../fonts/Azonix.ttf"),
        url("../fonts/Azonix.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.woff"),
        url("../fonts/Inter-Medium.ttf"),
        url("../fonts/Inter-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

.bg-dark {
    background-color: var(--color-cuarto) !important;
}

.aprende {
    color: darkblue;
}

/*font-size: 10rem;*/
@media (min-width:992px) {
    h1 {
        font-family: 'Azonix';
        font-weight: 500;
        font-size: 4rem;
    }

    .carousel-caption {
        top: 3rem
    }

}

@media (max-width:992px) {
    #carouselDark h1 {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 3rem;

    }

    .carousel-caption {
        top: 3rem
    }


}

@media (max-width:767px) {
    #carouselDark h1 {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 2rem;

    }

    #carouselDark h2 {
        font-size: 1rem;
    }

    #texto h3 {
        text-align: center !important;
        text-justify: auto !important;
    }

    .carousel-caption {
        top: 3rem
    }

}

@media (max-width:576px) {
    #carouselDark h1 {
        font-size: 1.5rem;
    }

    .carousel-caption {
        top: 3rem;
    }

    #carouselDark h2 {
        font-size: 0.5rem;
    }

}

#carouselDark h1 {
    font-family: 'Inter';
    font-weight: 500;

}

#carouselDark h2 {
    /*A este texto hay que moverlo hacia arriba*/
    font-family: 'Inter';
    font-weight: 400;
}

#carouselDark h3 {
    font-family: 'Inter';
    font-weight: 300;
}

/* .card {
    background-color: rgb(41, 72, 73);
} */

.deep {
    font-family: 'Inter';
    font-weight: 500;
}

h1 {
    font-family: 'Azonix';
    font-size: 55px;
    font-weight: 100;
    margin: 100px 0 20px 0;
    color: var(--color-secundario);
}

h2 {
    font-family: 'Request Personal Use';
}

h3 {
    font-family: 'Inter';
    font-weight: 300;
}

p {
    font-family: 'Inter';
    font-weight: 100;
}

#texto h3 {
    font-family: 'Inter';
    font-weight: 300;
    padding-left: 5rem;
}

#texto p {
    font-family: 'Inter';
    font-weight: 100;
    padding-left: 5rem;
}

@media (max-width:767px) {
    #contacto h1 {
        font-size: 4rem !important;
    }
}

#logo img {
    color: yellow
}

.logoSmash,
.logoSmash:hover {
    font-family: "Request Personal Use";
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: small;
}

#explorar {
    background: url("../img/fondoNos.jpg") no-repeat;
    background-size: cover;
}

.hero {
    /* background-image: url(../img/smash1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-banner {
    object-fit: contain;
}

@media (max-width: 768px) {
    .img-banner {
        max-width: 100%;
        /* Ajusta el ancho máximo de la imagen */
        height: auto;
        /* Permite que la altura se ajuste proporcionalmente */
    }
}

@media (max-width:992px) {
    .hero.mobile {
        height: fit-content;
    }
}

.disco-wrapper {
    margin: 1rem;
}

.logo-img {
    margin-right: .5rem;
}

.row {
    margin-right: 0;
}

.download-now {
    background: url('../img/nosBack.jpg') no-repeat;
    background-size: cover;
    /* height: 100vh; */
    padding: 100px 0 100px 0;

}

.historia-banda {
    margin: 0 250px 0 250px;
}

@media only screen and (max-width: 768px) {
    .historia-banda {
        margin: 0 50px;
    }
}

@media only screen and (min-width: 820px) {
    .historia-banda {
      margin: 0 250px;
    }
  }

.download-now p {
    color: #fff;
    line-height: 30px;
}

.download-now h1 {
    font-size: 55px;
    font-weight: 100;
    margin: 20px 0 50px 0;
    color: var(--color-secundario);
}


.home-newsletter {
    padding: 80px 0;
    background: var(--color-cuarto);
}

.home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}

.home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f;
}

.home-newsletter .single .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
}


#myCarousel {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
}

/*medida vh*/
/*#texto va a tomar la id de base y cambiara la semantica del interior*/
/*.card va a tomar todas las semanticas q coloques con eso*/
/*h1{} va a tomar todas las mismas etiquetas y cambiarlas*/