:root {
    --color-primario: #54c2e1;
    --color-secundario: #f0e51d;
    --color-terciario: #e61543;
    --color-cuarto: #0c0d0e;

}

@font-face {
    font-family: "Request Personal Use";
    src: url("../fonts/RequestPersonalUse.woff"),
        url("../fonts/RequestPersonalUse.ttf"),
        url("../fonts/RequestPersonalUse.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Azonix";
    src: url("../fonts/Azonix.woff"),
        url("../fonts/Azonix.ttf"),
        url("../fonts/Azonix.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.woff"),
        url("../fonts/Inter-Medium.ttf"),
        url("../fonts/Inter-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

.bg-dark {
    background-color: var(--color-cuarto) !important;
}

.aprende {
    color: darkblue;
}

/*font-size: 10rem;*/
@media (min-width:992px) {
    h1 {
        font-family: 'Azonix';
        font-weight: 500;
        font-size: 4rem;
    }

}


@media (max-width:767px) {

    #texto h3 {
        text-align: center !important;
        text-justify: auto !important;
    }

}

/* .card {
    background-color: rgb(41, 72, 73);
} */

.deep {
    font-family: 'Inter';
    font-weight: 500;
}

h1 {
    font-family: 'Azonix';
    font-size: 55px;
    font-weight: 600;
    margin: 100px 0 20px 0;
    color: white;
}

h2 {
    font-family: 'Request Personal Use';
}

h3 {
    font-family: 'Inter';
    font-weight: 300;
}

p {
    font-family: 'Inter';
    font-weight: 100;
}

#texto h3 {
    font-family: 'Inter';
    font-weight: 300;
    padding-left: 5rem;
}

#texto p {
    font-family: 'Inter';
    font-weight: 100;
    padding-left: 5rem;
}

@media (max-width:757px) {
    #contacto h1 {
        font-size: 4rem !important;
    } 

    .card {
        width: 310px !important;
    }

    .download-now {
        background: url('../img/nosBackMobile.jpg') no-repeat !important;
        background-size: cover !important;
    }
   .youtube {
    background-size: cover !important;
   }
}

#logo img {
    color: yellow
}

.logoSmash,
.logoSmash:hover {
    font-family: "Request Personal Use";
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: small;
}

/* #explorar {
    background: url("../img/fondoNos.jpg") no-repeat;
    background-size: cover;
} */

.hero {
    /* background-image: url(../img/smash1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-banner {
    object-fit: contain;
}

@media (max-width: 768px) {
    .img-banner {
        max-width: 100%;
        /* Ajusta el ancho máximo de la imagen */
        height: auto;
        /* Permite que la altura se ajuste proporcionalmente */
    }
}

@media (max-width:992px) {
    .hero.mobile {
        height: fit-content;
    }
}

.disco-wrapper {
    margin: 1rem;
}

.logo-img {
    margin-right: .5rem;
}

.row {
    margin-right: 0;
}

.download-now {
    background: url('../img/nosBack.jpg') no-repeat;
    background-size: cover;
    /* height: 100vh; */
    padding: 100px 0 100px 0;

}

.historia-banda {
    margin: 0 250px 0 250px;
}

@media only screen and (max-width: 768px) {
    .historia-banda {
        margin: 0 50px;
    }
}

@media only screen and (min-width: 820px) {
    .historia-banda {
        margin: 0 250px;
    }
}

.download-now p {
    color: #fff;
    line-height: 30px;
}

.download-now h1 {
    font-size: 55px;
    font-weight: 100;
    margin: 20px 0 50px 0;
    color: var(--color-secundario);
}


.home-newsletter {
    padding: 80px 0;
    background: var(--color-cuarto);
}

.home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}

.home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f;
}

.home-newsletter .single .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
}


.image-container {
    padding-right: 3rem;
}

.card {
    background-color: var(--color-terciario);
    border: 3px solid var(--color-terciario);
    width: 700px;
}

/* .card-img {
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--color-secundario), var(--color-terciario)) 1;
  } */

.tarjeta {
    background: linear-gradient(0deg, rgb(17, 25, 31), rgb(70, 46, 46));
    position: relative;
}


.glow::before,
.glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #f1e513, #ff6600, #00ff66, #00ffff,
            #ff00ff, #9c7bb4, #6e0dd0, #ff3300, #4fc0de);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animar 10s infinite linear;
}

@keyframes animar {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.glow::after {
    filter: blur(.5em);
}

.youtube {
    background: url('../img/fondoNos.jpg') no-repeat;
    height: 100vh;
}

.btnYT {
    width: 100%;
}

.cript {
    display: none;
}

/*medida vh*/
/*#texto va a tomar la id de base y cambiara la semantica del interior*/
/*.card va a tomar todas las semanticas q coloques con eso*/
/*h1{} va a tomar todas las mismas etiquetas y cambiarlas*/